<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="openhack.team18.tugether">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".LoginActivityPackage.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".WelcomeActivityPackage.WelcomeActivity"/>
        <activity android:name=".LoginActivityPackage.SignupActivity"/>
        <activity android:name=".TutorPackage.TutorMainActivityPackage.TutorMainActivity"/>
        <activity android:name=".RecommendActivityPackage.RecommendActivity"/>
        <activity android:name=".RecommendActivityPackage.midfirst"/>
        <activity android:name=".RecommendActivityPackage.midsecond"/>
        <activity android:name=".RecommendActivityPackage.midthird"/>
        <activity android:name=".TutorPackage.TutorDetailActivityPackage.TutorDetailActivity"/>
        <activity android:name=".TuteePackage.TuteeMainActivityPackage.TuteeMainActivity"/>
    </application>


</manifest>
